@charset "UTF-8";
header {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
    z-index: 1;
}

header > div > ul > li  {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    font-variation-settings: 'slnt' 0;
    z-index: 2;
}

.main-res a{
    position: absolute;
    width: 200px;
    height: 58px;
    left: 156px;
    top: 46px;
    color: #000000;
}

.main-ge a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 455px;
    top: 46px;
    color: #ffffff;
}

.main-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 25px;
    background: url(img/logo.svg);
    
}

.main-resrist a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1184px;
    top: 46px;
    color: #000;
}

.main-login a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1608px;
    top: 46px;
    color: #000000;
}

.top-text {
    position: absolute;
    width: 500px;
    height: 68px;
    left: 705px;
    top: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

.hr {
    position: absolute;
    width: 100%;
    height: 0px;
    left: -5px;
    top: 270px;
    border: 2px solid #666666;
}

.title {
    position: absolute;
    width: 950px;
    height: 62px;
    left: 486px;
    top: 320px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 20px;
}

.nik {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 486px;
    top: 400px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #FDC355;
    border-radius: 0px;
    margin-bottom: 20px; 
}

.today {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 1036px;
    top: 400px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #FDC355;
    border-radius: 0px;
    margin-bottom: 20px; 
}

.hr1 {
    position: absolute;
    width: 100%;
    height: 0px;
    left: -5px;
    top: 470px;
    border: 2px solid #666666;
}

textarea {

    position: absolute;
    width: 950px;
    height: 500px;
    left: 486px;
    top: 500px;
    border-color: #666666;
}

.fix {

    position: absolute;
    width: 952px;
    height: 70px;
    left: 485px;
    top: 1050px;
    border: 2px solid #F2E2C4;
    border-radius: 5px;
    background-color: #FFF;
    color: #FDC355;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: lowercase;
}

.del {
    position: absolute;
    width: 952px;
    height: 70px;
    left: 485px;
    top: 1150px;
    border: 2px solid #F2E2C4;
    border-radius: 5px;
    background-color: #FFF;
    color: #FDC355;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: lowercase;
}

footer {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 1300px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
}

a:hover {
    color: #FFF;
}

.fix:hover{
    background-color: #FDC355;
    color: #FFF;
}

.del:hover{
    background-color: #FDC355;
    color: #FFF;
}



a {
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style:none;
    }