@charset "UTF-8";
header {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
    z-index: 1;
}

header > div > ul > li  {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    font-variation-settings: 'slnt' 0;

}

.main-res a{
    position: absolute;
    width: 94px;
    height: 58px;
    left: 156px;
    top: 46px;
    color: #ffffff;
}

.main-ge a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 455px;
    top: 46px;
    color: #000000;
}

.main-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 25px;
    background: url(img/logo.svg);
     z-index: 2;
}

.main-resrist a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1184px;
    top: 46px;
    color: #000000;
}

.main-login a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1608px;
    top: 46px;
    color: #000000;
}

p {
    position: absolute;
    width: 500px;
    height: 68px;
    left: 705px;
    top: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

hr {
    position: absolute;
    width: 100%;
    height: 0px;
    left: -5px;
    top: 271px;
    border: 2px solid #666666;
}
.email {
    position: absolute;
    width: 184px;
    height: 60px;
    left: 470px;
    top: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

.e-con {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 1034px;
    top: 400px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 20px;
}

.in {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 436px;
    top: 520px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

.out {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 1000px;
    top: 520px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}


#da {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 484px;
    top: 600px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 20px;
}

#de {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 1034px;
    top: 600px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 20px;
}

.per {
    position: absolute;
    width: 184px;
    height: 60px;
    left: 480px;
    top: 660px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

#pep {
    position: absolute;
    width: 950px;
    height: 62px;
    left: 484px;
    top: 720px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0px;
    margin-bottom: 20px;
}

#bt {
    position: absolute;
    width: 952px;
    height: 70px;
    left: 485px;
    top: 802px;
    border: 2px solid #F2E2C4;
    border-radius: 5px;
    background-color: #FFF;
    color: #FDC355;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    text-transform: lowercase;
}

#bt:hover {
    background-color: #FDC355;
    color: #FFF;
}

footer {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 930px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
}

a:hover {
    color: #FFF;
}


a {
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style:none;
    }