header {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
    z-index: 1;
}

header > div > ul > li  {
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    font-variation-settings: 'slnt' 0;
    z-index: 2;
}

.main-res a{
    position: absolute;
    width: 200px;
    height: 58px;
    left: 156px;
    top: 46px;
    color: #fff;
}

.main-ge a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 455px;
    top: 46px;
    color: #000000;
}

.main-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 910px;
    top: 25px;
    background: url(img/logo.svg);
    
}

.main-resrist a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1184px;
    top: 46px;
    color: #000;
}

.main-login a{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 1608px;
    top: 46px;
    color: #000000;
}

.top-text {
    position: absolute;
    width: 500px;
    height: 68px;
    left: 705px;
    top: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: lowercase;
    color: #FDC355;
    font-variation-settings: 'slnt' 0;
}

.hr {
    position: absolute;
    width: 100%;
    height: 0px;
    left: -5px;
    top: 271px;
    border: 2px solid #666666;
}


.mem {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1350px;
    height: 80px;
    left: 285px;
    top: 446px;
    background: #E6DFC6;
    border-top:4px solid #623F31;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 755;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    text-transform: lowercase;
    color: #967E5D;
    font-variation-settings: 'slnt' 0;
}

.list {
   	position: relative;
    width: 1350px;
    height: 80px;
    left: 380px;
    top: 530px;

}

.li1 {
	
	color: #967E5D;
	font-size : 20px;
}



footer {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 930px;
    background: #F2E2C4;
    box-shadow: 0px 4px 20px #000000;
}



a:hover {
    color: #FFF;
}


a {
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style:none;
    }